{% extends "emails/report_base.html" %}
{% comment %}A bulk email from CalDART management; the plain-text body is bulk_email.txt.  body_html is the sanitized message with the recipient's values filled in (apps.bulk_email.render).{% endcomment %}
{% block title %}{{ subject }}{% endblock %}
{% block preheader %}{{ preheader }}{% endblock %}
{% block heading %}{{ subject }}{% endblock %}
{% block body %}
                {{ body_html }}
{% endblock %}
{% block why %}{% if view_url %}<a href="{{ view_url }}" style="color:#1F4E79;">View this email in your browser</a>.<br />{% endif %}{% if footer_text %}{{ footer_text }}{% if footer_url %} <a href="{{ footer_url }}" style="color:#1F4E79;">Unsubscribe from {{ type_name }} email</a>{% endif %}{% else %}You receive this email as a member or a friend of {{ org_name }}.{% endif %}{% endblock %}
